.mutt/aliases
.mutt/header_cache

.vim/abbrsout.vim
.vim/local.vim
.vim/viminf*.tmp
.vim/viminfo

.ssh/agent.*
.ssh/authorized_keys
.ssh/id_dsa
.ssh/id_dsa.pub
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/identity
.ssh/identity.pub
.ssh/known_hosts

.xmonad/xmonad-*
.xmonad/xmonad.errors
.xmonad/*.hi
.xmonad/*.o
.xmonad/lib/*.hi
.xmonad/lib/*.o

bin/*

.*.sw?
